{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple social bookmarking site. Or actuallly, it's a way to practice Flask. </p>
        </header>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsup bippity boppity boop</p>
        </section>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsup bippity boppity boop</p>
        </section>

    </article>
{% endblock %} 